{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Assign trainers" %}{% endblock %}
{% block content %}<div class="form-shell"><h1>{% translate "Assign trainers" %}</h1><p><bdi>{{ course.code }}</bdi></p><form method="post">{% csrf_token %}{% include "includes/form_fields.html" with form=form %}<button class="btn btn-primary" type="submit">{% translate "Save" %}</button> <a class="btn btn-outline-secondary" href="{% url 'courses:detail' course.pk %}">{% translate "Cancel" %}</a></form></div>{% endblock %}
